.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-screen.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.splash-screen.fade-out {
  animation: fadeOut 2s ease-in-out forwards; /* Slower fade-out */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.splash-screen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}